


<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        


        <!--        APIS        -->

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        

        
        <!--        STYLE-SHEETS      -->

        <link rel="stylesheet" href="./css/gallery.css">
        <link rel="stylesheet" href="./css/cards.css">        
        <link rel="stylesheet" href="./css/style.css">
        <!-- <link rel="stylesheet" href="adaptive-design.css"> -->

        

        <title>FAMILIA FLORES</title>


    </head>










<body>
    
    <header>



<a href="#Integrantes"> 
    <nav>
    <h1>   Familia FLORES   </h1>
</nav>
</a>

        <div class="supercont-of-slider">

            <div class="--center cont-of-slider">
                <div class="slider">
                    <div class="slider-screen"></div>
                    <div class="slider-screen"></div>
                    <div class="slider-screen"></div>
                    <div class="slider-screen"></div>
                </div>
            </div>

            <div class="--center caption">
                <h1 class="--center"> FAMILIA FLORES</h1>
            </div>
            <a href="#Galeria" ><div class="arrow--down" ></div></a>

        </div>

        <article class="article-about">            
            <div class="about-context">
                <h1>FAMILIA FLORES</h1>
                <p>Les presento a una familia que irradia amor y unidad en cada momento. Su conexión es tan fuerte como sus sonrisas, y juntos forman un hogar lleno de afecto y apoyo mutuo. Cada miembro de esta familia aporta su propia chispa única, creando un ambiente cálido y acogedor que refleja el verdadero significado del amor familiar.</p>
                <h4>ATT:FAMILIA FLORES</h4>
            </div>
        </article>

    </header>

    <main>
 
        <section>
            <div class="cont-of-gallery" id="Galeria">
                <a name="works">    <h1 class="section-title">AlGUNOS EVENTOS</h1>    </a>
                <div class="gallery">
                    <div class="gallery-item">
                        <img  class="gallery-item-img" src="./img/CumpleDavid.jpeg" alt="">
                        <div class="ventana"><p>Cumple de DavidFQ</p></div>
                    </div> 
                    <div class="gallery-item">
                        <img  class="gallery-item-img" src="./img/CumpleMFB.jpeg" alt=""> 
                        <div class="ventana"><p>Cumple MiguelFB</p></div>
                    </div>
                    <div class="gallery-item">
                        <img  class="gallery-item-img" src="./img/Nadada.jpeg" alt=""> 
                        <div class="ventana"><p>Nadada</p></div>
                    </div>
                    <div class="gallery-item">
                        <img  class="gallery-item-img" src="./img/Annionuevo.jpeg" alt="">
                        <div class="ventana"><p>Annio Nuevo 2024</p></div>
                    </div>
                    <div class="gallery-item">
                        <img  class="gallery-item-img" src="./img/navidad2023.jpeg" alt="">
                        <div class="ventana"><p>Navidad 2023</p></div>
                    </div>
                    <div class="gallery-item">
                        <img  class="gallery-item-img" src="./img/WhatsApp Image 2024-01-17 at 8.22.55 PM.jpeg" alt="">
                        <div class="ventana"><p>Encendido de Arbol 2023</p></div>
                    </div>
                </div>
                <div class="picture-viewer">
                    <img class="picture" src=""></img>
                    <div id="arrow--left"  ></div>
                    <div id="arrow--right" ></div>
                </div>
            </div>
        </section>
        <section class="supercont-of-cards" id="Integrantes" >
            <h1 class="section-title" name="integrantes">INTEGRANTES</h1>
            <div class="cont-of-cards">
                <div class="card">
                    <img src="./img/MiguelFB.jpeg" alt="">
                    <a href="https://www.facebook.com/profile.php?id=100000334759848"><h4>    MIGUEL FLORES BASULTO    </h4></a>
                    <p>Permítanme presentarles al corazón de esta familia, un hombre admirable que personifica la dedicación y el amor paternal. Este padre no solo es el pilar de la casa, sino también la fuente inagotable de sabiduría, paciencia y cariño. Su compromiso con su familia ilustra lo que significa ser un líder amoroso y un ejemplo a seguir. Les presento a Miguel, el corazón latente de esta familia llena de amor y unidad.</p>
                </div>
                <div class="card">
                    <img src="./img/EdithQC.jpeg" alt="">
                    <a href="https://www.facebook.com/profile.php?id=100005239248316"><h4>    EDITH QUIÑONES COLORADO</h4></a>
                    <p>Con gran emoción, les presento a la extraordinaria mujer que da vida y luz a este hogar. Edith no solo es la fuerza que une cada rincón de esta familia con amor incondicional, sino también la fuente de ternura y dedicación que hace de cada día una experiencia especial. Su capacidad para equilibrar gracia, fortaleza y cariño es inspiradora, convirtiéndola en el faro que guía a esta familia hacia la felicidad y la armonía. Les presento a Edith, la esencia misma del amor maternal en este hogar lleno de afecto y unión.</p>
                </div>
                <div class="card">
                    <img src="./img/MiguelFQ.jpeg" alt="">
                    <a href="https://www.facebook.com/ELTUNAS99"><h4>    MIGUE FLORES QUIÑONES    </h4></a>
                    <p>Con entusiasmo, quiero presentarles al miembro mayor de esta familia excepcional. Miguelito no solo es un joven lleno de energía y vitalidad, sino también un ejemplo de responsabilidad y cariño. Su dedicación a sus seres queridos y su capacidad para inspirar a quienes lo rodean hacen de él un hermano mayor excepcional. Con sus logros y su calidez, Miguel añade una dimensión especial a esta familia, contribuyendo a fortalecer los lazos que los unen.</p>
                </div>
                <div class="card" id="card--last">
                    <img src="./img/DavidFQ.jpg" alt="">
                    <a href="https://www.facebook.com/david.quinones.92775838/"><h4>    DAVID FLORES QUIÑONES    </h4></a>
                    <p>Con alegría, les presento al miembro más joven de esta familia maravillosa. David es una chispa de vitalidad y alegría que ilumina cada rincón de este hogar. Su ingenio, ternura y entusiasmo contagian a todos a su alrededor, añadiendo una dosis extra de alegría a la vida familiar. Aunque sea el menor, David aporta una frescura única y un amor inagotable que hace que esta familia sea aún más especial.</p>
                </div>
            </div>
        </section>
    </main>
<div>
    

</div>
<div class="ContainerButtonNube">
    <a th:href="@{/nube}" class="btnNube"> <p>Acceder a la Nuebe</p></a>
</div>

    <script type="module" src="./main.js"></script>

</body>
</html>